.descriptionBlock {
    display: flex;;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: #1890ff 0 0 2px;
    padding: 10px;
}

.profileImg img {
    width: 100%;
}

.camera_button{
    padding-left: 10px;

}
.avatar {
    text-align: center;
    width: 220px;
    height: 220px;
    padding: 5px;
    border-radius: 50%;
}

.mainPhoto {
    max-width: 120px;
    border-radius: 50%;
}

.contact {
    width: 400px;
    border-radius: 15px;
    text-shadow: #1890ff 0 0 2px;
}

.title{
    font-size: 16px;
    color: honeydew;

}

.profile_container{
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 10px 0 #dddddd;
    padding: 5px;
    align-items: center;
}


.button_edit{
    text-align: center;
    top: 40px;
    left: 10px;
}
