
body {
    background-image: url("assets/images/background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1000px;
    grid-template-areas:
  'h h'
  'n c'
  'f f';
    gap: 10px;
}

@media screen and (max-width: 1105px) {
    .app_wrapper{width: 100%}
}

